.menu-bar {
    width: 110vw;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 11px;

  }
  
  .label-menu-bar {
    margin-bottom: 10px;
  }
   
  .label-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
  }
  
  .category-icon {
    margin: 10px;
    width: 20px;
    height: 20px;
    text-align: center;

  }
  .icon {
    height: 24px;
    color: var(--main-color2);
  }
  
  .item-link {
    color: var(--main-color2);
    font-size: 14px;

  }
  
  .right-icon {
    color: var(--color4);
  }
  .right-icon svg {
    width: 16px;
    height: 16px;
  }
  
  .header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }
  