.menu-bar {
    width: 120vw;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    margin-left: -10px !important;
    

  }
  
  .label-menu-bar {
    margin-bottom: 10px;
  }
   
  .label-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    width: 170px;
  }
  
  .category-icon {
    /* margin: 10px;
    width: 20px;
    height: 20px;
    text-align: center; */
    margin: 10px 10px 0 10px;

  }
  .icon {
    height: 24px;
    color: var(--main-color2);
  }
  
  .item-link {
    color: var(--main-color2);
    font-size: 14px;

  }
.category-icon img {
    height: 28px;
    margin-right: 5px;
    text-align: center;
    width: 32px;
}
  
  .right-icon {
    color: var(--color3);
  }
  .right-icon svg {
    width: 16px;
    height: 16px;
  }
  
  .header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
  }

  .item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  