/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

/* Header */
.header {
    width: 100%;
    height: 80px;
    background: #2c7826;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.menu {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

  

 .menuList {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    
}


 .shopCart {
    display: inline-block;
    position: relative;
}

.count {
    position: absolute;
    top: 0;
    right: 0px;
    width: 15px;
    height: 15px;
    background: white;
    color: #d70018;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
}
.search {
    position: relative;
  }
  
  .search input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search .searchResults {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 120px; /* Giới hạn chiều cao của kết quả */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .search .searchResults li {
    padding: 8px;
    cursor: pointer;
  }
  
  .search .searchResults li:hover {
    background-color: #f0f0f0;
  }
  