body {
    font-family: Arial, sans-serif;
    
}

.container {
    
    margin-left: 210px;
    max-width: 600px;
    width: 100%;
    padding: 40px;
}

.login-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #1e0e4b;
    text-align: center;
}

.app-name {
    color: #7747ff;
}

.subtitle {
    font-size: 18px;
    color: #1e0e4b;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-container {
    position: relative;
}

label {
    color: #666;
    font-size: 18px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: rgb(255, 81, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 22px;
    cursor: pointer;
}

.signup-link {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.signup-link a {
    color: #ff4747;
    text-decoration: none;
}
.error{
    color: red;
    font-size: 12px;
    margin-top: 10px;

}