.user-profile-container{
    min-height: 400px;
}
.user-profile {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.user-profile-tilte{
    margin-left: 610px;
    margin-top: 100px;
    margin-bottom: 30px;
    max-width: 260px;
}
.user-profile h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.user-profile p {
    font-size: 18px;
    margin-left:20px;
    color: #555;
}

.user-profile p strong {
    color: #000;
}


.user-profile button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.change-user-password {
    margin-top: 20px;
    text-align: center;
    
}

.change-user-password input {
    display: block;
    width: 518px;
    padding: 10px;
    margin-left: 20px;
    font-size: 16px;
}

.change-user-password button {
    padding: 10px 20px;
    width: 150px;
    font-size: 16px;
    cursor: pointer; 
    margin-left: 20px;
    background-color: rgb(5, 150, 155);
    
}
.change-user-password button:hover {
    background-color: rgb(4, 100, 104);
}

.change-user-password p {
    color: red;
    margin-top: 10px;
}